@use "abstracts/mixin";
@use "abstracts/variable";

/* Reset Browsers
-------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  margin-right: 0 !important;
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: var(--Bg);
  line-height: 1;
  padding: 0 !important;
  // &::-webkit-scrollbar {
  //     width: 0px;
  // }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: none;
}

a img {
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

select {
  max-width: 100%;
}

/* General
-------------------------------------------------------------- */

body,
button,
input,
select,
textarea {
  font-family: variable.$font-main;
  font-size: 14px;
  font-weight: 400;
  color: var(--White);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  overflow-y: auto;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

strong,
b,
cite {
  font-weight: bold;
}

dfn,
cite,
em,
i,
blockquote {
  font-style: italic;
}

abbr,
acronym {
  border-bottom: 1px dotted #e0e0e0;
  cursor: help;
}

.btn-link:focus,
.btn-link:hover,
mark,
ins {
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

address {
  font-style: italic;
  margin: 0 0 20px;
}

code,
kbd,
tt,
var,
samp,
pre {
  margin: 20px 0;
  padding: 4px 12px;
  background: #f5f5f5;
  border: 1px solid #e0e0e0;
  overflow-x: auto;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  border-radius: 0;
  height: auto;
}

svg,
svg path {
  @include mixin.transition3();
}

/* Elements
-------------------------------------------------------------- */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

hr {
  margin-bottom: 20px;
  border: dashed 1px #ccc;
}

/* List */

ul,
ol {
  padding: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

li {
  list-style: none;
}

ul li,
ol li {
  padding: 0;
}

dl,
dd {
  margin: 0 0 20px;
}

dt {
  font-weight: bold;
}

del,
.disable {
  text-decoration: line-through;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

/* Table */

table,
th,
td {
  border: 1px solid #343444;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 30px;
  table-layout: fixed;
  // width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

th {
  border-width: 0 1px 1px 0;
  font-weight: bold;
}

td {
  border-width: 0 1px 1px 0;
}

th,
td {
  padding: 8px 12px;
}

/* Media */

embed,
object,
video {
  margin-bottom: 20px;
  max-width: 100%;
  vertical-align: middle;
}

p > embed,
p > iframe,
p > object,
p > video {
  margin-bottom: 0;
}

/* Forms
-------------------------------------------------------------- */
/* Fixes */
button,
input {
  line-height: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  line-height: inherit;
  margin: 0;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
}

input[type="checkbox"] {
  display: inline;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: button;
  border: 0;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  vertical-align: sub;
  /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Remove chrome yellow autofill */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f7f7f7 inset;
}

/* Reset search styling */
input[type="search"] {
  outline: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Placeholder color */
::-webkit-input-placeholder {
  color: #171412;
}

::-moz-placeholder {
  color: #171412;
  opacity: 1;
}

/* Since FF19 lowers the opacity of the placeholder by default */
:-ms-input-placeholder {
  color: #171412;
}

/* Typography
-------------------------------------------------------------- */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: variable.$font-main;
  color: var(--White);
  margin: 0;
  text-rendering: optimizeLegibility;
}

h1,
.h1 {
  font-size: 60px;
  line-height: 79.38px;
}

h2,
.h2 {
  font-size: 40px;
  line-height: 52.92px;
}

h3,
.h3 {
  font-size: 30px;
  line-height: 34px;
}

h4,
.h4 {
  font-size: 24px;
  line-height: 31.75px;
}

h5,
.h5 {
  font-size: 20px;
  line-height: 28px;
}

h6,
.h6 {
  font-size: 13px;
  line-height: 17px;
}

.fw-4 {
  font-weight: 400;
}
.fw-467 {
  font-weight: 467;
}
.fw-5 {
  font-weight: 500;
}
.fw-550 {
  font-weight: 550;
}
.fw-6 {
  font-weight: 600;
}
.fw-645 {
  font-weight: 645;
}
.fw-7 {
  font-weight: 700;
}
.fw-759 {
  font-weight: 759;
}
.fw-8 {
  font-weight: 800;
}

.fw-9 {
  font-weight: 900;
}
.fs-50 {
  font-size: 50px;
}
.fs-40 {
  font-size: 40px;
}
.fs-26 {
  font-size: 26px;
}
.fs-24 {
  font-size: 24px;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-15 {
  font-size: 15px;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-13 {
  font-size: 13px;
}
.fs-12 {
  font-size: 12px !important;
}

.heading-dashboard {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}
.text-1 {
  color: var(--Text-8);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.font-rubik {
  font-family: "Rubik";
}
.mb-8 {
  margin-bottom: 8px;
}
/* link style
-------------------------------------------------------------- */
a {
  text-decoration: none;
  color: var(--White);
  cursor: pointer;
  @include mixin.transition3;

  &:hover,
  &:focus {
    color: var(--Main-color);
    outline: 0;
    @include mixin.transition3;
  }
  &.type-secondary {
    color: var(--Secondary);
    &:hover {
      color: var(--Main-color);
    }
  }
  &.type-main-color {
    color: var(--Main-color);
    &:hover {
      // color: var(--White);
    }
  }
}
p {
  &.type-secondary {
    color: var(--Secondary);
  }
  &.type-main-color {
    color: var(--Main-color);
  }
}
/* tf-container
-------------------------------------------------------------- */
.tf-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1140px;
  max-width: 100%;

  .row {
    margin-left: -15px !important;
    margin-right: -15px !important;

    > * {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }

  &.full {
    width: 100%;
  }
}

/* Extra classes
-------------------------------------------------------------- */
.hidden {
  display: none;
}
.w100 {
  width: 100%;
}
.block {
  display: block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed !important;
}

.position-unset {
  position: unset !important;
}

.gap16 {
  gap: 16px;
}

.z-5 {
  z-index: 5;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-6 {
  margin-bottom: 6px;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-3 {
  margin-bottom: 3px !important;
}
.pt-35 {
  padding-top: 35px !important;
}
.pt-100 {
  padding-top: 100px;
}
.pb-100 {
  padding-bottom: 100px;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-grow {
  flex-grow: 1 !important;
}

.row-reverse {
  flex-direction: row-reverse !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.justify-between {
  justify-content: space-between !important;
}

.items-center {
  align-items: center !important;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left !important;
}
.italic {
  font-style: italic;
}

.cursor-pointer {
  cursor: pointer;
}

.rounded-full {
  border-radius: 9999px !important;
}

.overflow-x-auto {
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: #242c48;
    border-radius: 999px;
  }
}

.overflow-y-auto {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: #242c48;
    border-radius: 999px;
  }
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}
.text-start {
  text-align: start;
}
.grid-layout-4 {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.letter-space1 {
  letter-spacing: 0.3px;
}
.pb-18 {
  padding-bottom: 18px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}
.mt--10 {
  margin-top: -10px !important;
}
.mt--8 {
  margin-top: -8px !important;
}
.mt--6 {
  margin-top: -6px !important;
}

.mt--4 {
  margin-top: -4px !important;
}

.mb-2 {
  margin-bottom: 2px !important;
}

.mt--2 {
  margin-top: -2px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.pt-34 {
  padding-top: 34px !important;
}

.pb-34 {
  padding-bottom: 34px !important;
}

.mb-31 {
  margin-bottom: 31px !important;
}

.pt-31 {
  padding-top: 31px !important;
}

.p-10-19 {
  padding: 10px 19px !important;
}

.lh-20 {
  line-height: 20px !important;
}

.lh-32 {
  line-height: 32px !important;
}

.gap-30 {
  gap: 30px !important;
}
.ml--4 {
  margin-left: -4px !important;
}
.ml-4 {
  margin-left: 4px !important;
}
.mr-4 {
  margin-right: 4px !important;
}
.pl-12 {
  padding-left: 12px !important;
}

.p-14-16 {
  padding: 14px 16px !important;
}
.p-0-16 {
  padding: 14px 0px 16px !important;
}

.p-21-19 {
  padding: 21px 19px !important;
}
