@use "abstracts/mixin";

.main-content {
  padding-top: 100px;
  padding-bottom: 100px;
  &.page-lottery-result {
    padding-top: 101px;
  }
}
.tf-spacing-1 {
  padding-top: 0;
  padding-bottom: 100px;
}
.tf-spacing-2 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.tf-spacing-3 {
  padding-top: 0;
  padding-bottom: 85px;
}
.tf-spacing-4 {
  padding-top: 0;
  padding-bottom: 60px;
}
.heading-section {
  text-align: center;
  margin-bottom: 40px;
  .title {
    font-size: 50px;
    line-height: 66.15px;
    font-weight: 900;
    margin-bottom: 6px;
  }

  p {
    line-height: 22.4px;
    color: var(--Secondary);
  }

  span {
    color: var(--White);
  }

  &.style-start {
    text-align: start;
  }
}

.heading-dashboard {
  &.ppopular-toics,
  &.form-search {
    letter-spacing: 0.3px;
  }
}

.page-title {
  position: relative;
  background-image: url(../images/section/page-title.png);
  background-position: center;
  padding-top: 175px;
  padding-bottom: 100px;
  text-align: center;
  background-size: cover;

  .content {
    position: relative;
    z-index: 1;

    .title {
      font-weight: 900;
      margin-bottom: 23px;
    }

    .breadcrumbs {
      @include mixin.d-flex();
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: var(--Secondary);
      li {
        @include mixin.d-flex();
        font-size: 14px;
        line-height: 20px;
        a {
          color: var(--Secondary);
          &:hover {
            color: var(--Main-color);
          }
        }
      }
    }
  }
}

.section-blog-list {
  .wrap-blog-list {
    border-bottom: 1px solid var(--Border);
    margin-bottom: 26px;
  }
}

.section-blog-grid {
  .grid-layout-3 {
    gap: 28px 28px;
    border-bottom: 1px solid var(--Border);
    padding-bottom: 30px;
    margin-bottom: 26px;
  }
}

.main-content-dashboard-wrap {
  padding-top: 80px;
  @include mixin.d-flex();
  width: 100%;

  .main-content-dashboard {
    width: calc(100% - 80px);
    padding: 60px 60px 0 235px;
    @include mixin.d-flex();
    flex-direction: column;
    gap: 60px;
    &.gap80 {
      gap: 80px;
    }
    &.gap62 {
      gap: 62px;
    }
    .page-heading {
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    }
    .section-dowload-app .btn-dowload {
      width: 173px;
    }
  }
}

.page-title-dashboard {
  .content {
    position: relative;
    padding: 37px 65.5px 39px;
    border-radius: 16px;
    background-image: url(../images/slider/dashboard-bg.png);

    .image {
      position: absolute;
      right: 50px;
      top: 0;
    }

    > img {
      margin-bottom: 24px;
    }

    .title {
      margin-bottom: 16px;
    }

    .text-color-clip {
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 21px;
    }

    .bot {
      width: max-content;
      text-align: center;
    }

    .tf-btn {
      margin-bottom: 7px;
    }

    .sub {
      line-height: 20px;
      color: var(--Secondary);
    }
  }
}
