@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?d6t6kt');
  src:  url('fonts/icomoon.eot?d6t6kt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?d6t6kt') format('truetype'),
    url('fonts/icomoon.woff?d6t6kt') format('woff'),
    url('fonts/icomoon.svg?d6t6kt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e900";
}
.icon-tickets:before {
  content: "\e901";
}
.icon-right:before {
  content: "\e902";
}
.icon-remaining:before {
  content: "\e903";
}
.icon-file:before {
  content: "\e904";
}
.icon-ticket:before {
  content: "\e905";
}
.icon-play:before {
  content: "\e906";
}
.icon-right-dashed:before {
  content: "\e907";
}
.icon-check-1:before {
  content: "\e908";
}
.icon-clock:before {
  content: "\e909";
}
.icon-casino:before {
  content: "\e90a";
}
.icon-withdrawal:before {
  content: "\e90b";
}
.icon-deposit:before {
  content: "\e90c";
}
.icon-delete:before {
  content: "\e90d";
}
.icon-infor-1:before {
  content: "\e90e";
}
.icon-check:before {
  content: "\e90f";
}
.icon-game:before {
  content: "\e910";
}
.icon-close:before {
  content: "\e911";
}
.icon-hide:before {
  content: "\e912";
}
.icon-infor:before {
  content: "\e913";
}
.icon-log-out:before {
  content: "\e914";
}
.icon-view:before {
  content: "\e915";
}
.icon-affiliate:before {
  content: "\e916";
}
.icon-wallet:before {
  content: "\e917";
}
.icon-my-favorite:before {
  content: "\e918";
}
.icon-scratch-offs:before {
  content: "\e919";
}
.icon-star:before {
  content: "\e91a";
}
.icon-search:before {
  content: "\e91b";
}
.icon-send:before {
  content: "\e91c";
}
.icon-setting:before {
  content: "\e91d";
}
.icon-wallets:before {
  content: "\e920";
}
.icon-arrow-up:before {
  content: "\e923";
}
.icon-arrow-right:before {
  content: "\e925";
}
.icon-home:before {
  content: "\e92b";
}
.icon-rev-share:before {
  content: "\e92d";
}
.icon-envelope:before {
  content: "\e945";
}
.icon-arrow-left:before {
  content: "\e930";
}
.icon-live-support:before {
  content: "\e934";
}
.icon-contact-us:before {
  content: "\e935";
}
.icon-payment-proof:before {
  content: "\e936";
}
.icon-provably-fair:before {
  content: "\e937";
}
.icon-documentation:before {
  content: "\e939";
}
.icon-collapse:before {
  content: "\e93a";
}
.icon-faq:before {
  content: "\e93b";
}
.icon-discord:before {
  content: "\e93c";
}
.icon-tiktok:before {
  content: "\e93d";
}
.icon-question:before {
  content: "\e941";
}
.icon-back:before {
  content: "\e942";
}
.icon-next:before {
  content: "\e943";
}
.icon-arrow-down:before {
  content: "\e944";
}
.icon-write:before {
  content: "\e95c";
}
.icon-coppy:before {
  content: "\e960";
}
.icon-statistics:before {
  content: "\e97e";
}
.icon-level:before {
  content: "\e97f";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-x:before {
  content: "\f11c";
}
.icon-send-message:before {
  content: "\f12d";
}
.icon-minus:before {
  content: "\e91e";
}
.icon-arrow-bottom:before {
  content: "\e91f";
}
.icon-arrow-right1:before {
  content: "\e921";
}
.icon-reply:before {
  content: "\e93e";
}
.icon-old-phone:before {
  content: "\e938";
}
.icon-menu:before {
  content: "\e93f";
}


