//settings
$font-main: "Red Hat Display", sans-serif;
$font-main2: "Manrope", sans-serif;

$fontIcon: "icomoon";

:root {
    --White: #fff;
    --Black: #000;
    --Bg: #01011e;
    --Bg-2: #131037;
    --Bg-3: rgba(147, 172, 211, 0.07);
    --Bg-4: #06062c;
    --Bg-5: #1b1742;
    --Bg-6: #060623;
    --Bg-7: #7e6a7e;
    --Bg-8: #5b9c30;
    --Bg-9: #bb5636;
    --Bg-10: #191544;
    --Bg-11: #16114a;
    --Bg-12: #1a113c;
    --Secondary: #7791ba;
    --Sub-color: #ca2826;
    --Sub-color-2: #954cdf;
    --Sub-color-3: #f75808;
    --Sub-color-4: rgba(147, 172, 211, 0.071);
    --Sub-color-5: #4e556f;
    --Main-color: #fe8c45;
    --Text: #f3e6ff;
    --Text-2: #7c818b;
    --Text-3: rgba(119, 145, 186, 0.5);
    --Text-4: #3a3a3c;
    --Text-5: #6ba539;
    --Text-6: #93acd3;
    --Text-7: #55657e;
    --Text-8: #8691b2;
    --Text-9: rgba(255, 255, 255, 0.8);
    --Border-1: rgba(255, 255, 255, 0.12);
    --Border-2: rgba(147, 172, 211, 0.1);
    --Border: rgba(255, 255, 255, 0.1);
    --backdrop: #0b0d2b;
    --Border-3: #161c27;
    --Border-4: rgba(147, 172, 211, 0.08);
    --Border-5: rgba(30, 34, 49, 1);
    --Border-6: rgba(255, 255, 255, 0.25);
}
