@use "../abstracts/mixin";

#footer {
    .footer-about {
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
        padding-bottom: 46px;
        .footer-menu {
            @include mixin.flex(center, space-between);
            margin-bottom: 20px;
            flex-wrap: wrap;
            gap: 20px;
            .menu {
                @include mixin.d-flex();
                gap: 41px;
                li {
                    a {
                        font-size: 15px;
                        font-weight: 654;
                        line-height: 19.85px;
                    }
                }
            }
        }
        .content {
            p {
                font-size: 14px;
                line-height: 19.6px;
                color: var(--Secondary);
                margin-bottom: 21px;
            }
            .note {
                @include mixin.d-flex();
                color: var(--Secondary);
                align-items: center;
                gap: 10px;
                i {
                    font-size: 24px;
                }
            }
        }
    }
    .footer-main {
        padding-top: 46px;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
        .widget-footer {
            margin-bottom: 30px;
            .widget-title {
                font-size: 20px;
                font-weight: 900;
                line-height: 26.46px;
                margin-bottom: 8px;
            }
            li {
                a {
                    color: var(--Secondary);
                    font-size: 14px;
                    line-height: 28px;
                }
                &:hover {
                    a {
                        color: var(--Main-color);
                    }
                }
            }
            p {
                font-size: 14px;
                line-height: 19.6px;
                color: var(--Secondary);
            }
            &.dowload-app {
                .widget-title {
                    margin-bottom: 14px;
                }
                .button-dowload {
                    margin-bottom: 20px;
                    a {
                        display: block;
                        max-width: 124px;
                    }
                    .ios {
                        img {
                            margin-bottom: 9px;
                        }
                    }
                    img {
                        max-width: 124px;
                        border-radius: 8px;
                        border: 1px solid var(--Border);
                    }
                }
                .bottom {
                    .widget-title {
                        margin-bottom: 5px;
                    }
                }
            }
            &.help {
                .widget-title {
                    margin-bottom: 19px;
                }
                .tf-btn {
                    padding: 0 42px;
                    margin-bottom: 18px;
                }
            }
        }
    }
    .footer-bottom {
        padding-top: 46px;
        padding-bottom: 46px;
        .wrapper {
            @include mixin.flex(center, space-between);
            flex-wrap: wrap;
            gap: 40px;
            .left {
                @include mixin.d-flex();
                align-items: center;
                gap: 8px;
            }
            .center {
                ul {
                    @include mixin.flex(center, center);
                    align-items: center;
                    gap: 20px 40px;
                    flex-wrap: wrap;
                    li {
                        a {
                            font-size: 14px;
                            color: var(--Secondary);
                        }
                        &:hover {
                            a {
                                color: var(--Main-color);
                            }
                        }
                    }
                }
            }
            .right {
                span {
                    font-size: 14px;
                    color: var(--Secondary);
                }
            }
        }
    }
}
#footer {
    &.footer-dashboard {
        .footer-about {
            border-bottom: none;
            padding: 0;
        }
        .footer-about-inner {
            border-bottom: 1px solid rgba(255, 255, 255, 0.12);
            padding-bottom: 47px;
        }
        .footer-main {
            padding-bottom: 0;
            border-bottom: none;
        }
        .footer-bottom{
            padding-top: 16px;
            .wrapper{
                padding-top: 46px;
                border-top: 1px solid rgba(255, 255, 255, 0.12);
            }
            
        }
    }
}
