@use "../abstracts/mixin";

.tf-top-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: linear-gradient(
    to right,
    rgba(75, 0, 175, 1),
    rgba(181, 61, 249, 1)
  );
  position: relative;
  .content {
    @include mixin.flex(center, center);
    gap: 10px;
    p {
      font-weight: 645;
      font-size: 14px;
      line-height: 18.52px;
    }
    a {
      font-weight: 645;
      font-size: 14px;
      line-height: 18.52px;
      @include mixin.d-flex();
      align-items: center;
      gap: 10px;
      position: relative;
      &::after {
        content: "";
        width: 138px;
        height: 1.5px;
        display: block;
        position: absolute;
        background-color: var(--White);
        bottom: 0;
        @include mixin.transition3();
      }
      &:hover {
        &::after {
          background-color: var(--Main-color);
        }
      }
    }
  }
  .button-close {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

#header-main {
  .header-inner {
    position: absolute;
    width: 100%;
    z-index: 999;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }
  .header-inner-wrap {
    @include mixin.d-flex();
    justify-content: space-between;
    align-items: center;
    .header-right {
      @include mixin.d-flex();
      align-items: center;
      gap: 20px;
      .mobile-button {
        display: none;
        i {
          font-size: 35px;
        }
      }
    }
  }
  &.header-home-3 {
    margin-top: -10px;
    .header-inner {
      position: unset;
      .sub-menu {
        z-index: 5;
      }
    }
  }
}
.main-menu {
  .navigation {
    @include mixin.d-flex();
    gap: 36px;
    letter-spacing: 0.8px;
    li {
      position: relative;
      cursor: pointer;
      a {
        font-size: 15px;
        font-weight: 600;
        line-height: 104px;
      }
      &.has-child {
        padding-right: 20px;
        > a {
          &::after {
            position: absolute;
            right: -2px;
            font-family: "icomoon";
            content: "\e944";
            font-size: 21px;
            font-weight: 400;
            cursor: pointer;
            @include mixin.transition3();
          }
        }
        .sub-menu {
          position: absolute;
          top: 104%;
          left: 0%;
          width: 200px;
          opacity: 0;
          visibility: hidden;
          background-color: var(--Bg);
          @include mixin.transition3();
          li {
            a {
              padding: 10px 20px;
              display: block;
              width: 100%;
              font-weight: 500;
              line-height: 28px;
            }
            &:not(:last-child) {
              border-bottom: solid 1px rgba(255, 255, 255, 0.1);
            }
          }
        }
      }
      &:hover {
        .sub-menu {
          top: 100%;
          visibility: visible;
          opacity: 1;
        }
      }
      &.current-menu-item,
      &:hover {
        > a,
        &::after {
          color: var(--Main-color);
        }
      }
      .current-item {
        > a {
          color: var(--Main-color);
        }
      }
    }
  }
}

// mobile-nav
.mobile-nav-wrap {
  .overlay-mobile-nav {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.8) 100%
    );
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    @include mixin.transition3();
  }
  .inner-mobile-nav {
    width: 320px;
    height: 100%;
    top: 0;
    left: -340px;
    position: fixed;
    background-color: var(--Bg);
    z-index: 999999;
    overflow-y: auto;
    @include mixin.transition3();
  }
  &.active {
    .overlay-mobile-nav {
      opacity: 1;
      visibility: visible;
    }
    .inner-mobile-nav {
      left: 0;
    }
  }
}

.mobile-nav-wrap .inner-mobile-nav::-webkit-scrollbar {
  width: 0px;
}

.inner-mobile-nav {
  padding: 15px;
  position: relative;
  .top-nav-mobile {
    @include mixin.flex(center, space-between);
    #mobile-logo_header {
      width: 150px;
    }
    .mobile-nav-close {
      cursor: pointer;
      width: 30px;
      height: 30px;
      background-color: var(--Bg-1);
      border-radius: 50%;
      @include mixin.flex(center, center);
    }
  }
  #menu-mobile-menu {
    @include mixin.d-flex();
    flex-direction: column;
    margin-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding-top: 0px;
    > div {
      position: relative;
      border-bottom: 1px solid rgba(255, 255, 255, 0.08);
      padding: 15px 0px;
      cursor: pointer;
      .sub-menu-mobile {
        display: none;
        margin-top: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.08);
        text-align: start;
        overflow: hidden;
        li {
          padding-left: 15px;
          padding: 15px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.08);
          cursor: pointer;
          a {
            font-size: 14px;
            line-height: 22px;
            font-weight: 500;
          }
        }
      }
    }
    div {
      a {
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--White);
      }
      &.menu-item-has-children-mobile {
        > a {
          &::after {
            content: "\e944";
            position: absolute;
            font-family: "icomoon";
            font-weight: 300;
            position: absolute;
            font-size: 20px;
            right: 0;
            top: 17px;
            line-height: 16px;
            @include mixin.transition3();
          }
        }
      }
      &.active {
        a {
          &::after {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }
}

#menu-mobile-menu > li .sub-menu-mobile li:last-child,
#menu-mobile-menu > li:last-child {
  border: none;
}

#menu-mobile-menu div.current-menu-item > a,
#menu-mobile-menu li a:hover,
#menu-mobile-menu li.current-item a {
  color: var(--Main-color);
}

.header {
  &.is-fixed {
    .header-inner {
      position: fixed !important;
      padding: 0;
      top: -100%;
      left: 0;
      width: 100%;
      z-index: 9999999999;
      background-color: var(--Bg-2);
      // background-color:#131037;
      opacity: 1;
      @include mixin.transition5();
      border-bottom: none !important;
    }
    &.is-small {
      .header-inner {
        top: 0;
        margin-top: 0px;
        width: 100%;
      }
    }
  }
}

.header {
  &.is-fixed {
    .header-inner-dashboard {
      position: fixed !important;
      padding: 0;
      top: -100%;
      left: 0;
      width: 100%;
      z-index: 9999999999;
      background-color:#131037;
      opacity: 1;
      @include mixin.transition5();
      border-bottom: none !important;
    }
    &.is-small {
      .header-inner-dashboard {
        top: 0;
        margin-top: 0px;
        width: 100%;
      }
    }
  }
}
.header-bg{
  background-color:#131037 !important;
}
// header-dashboard
.header-dashboard {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #131037;
  box-shadow: 0px 12px 30px 0px #09081eb2;
  padding: 12px 12px 12px 30px;
  z-index: 60;
  > .wrap {
    @include mixin.flex(center, space-between);
  }
  .header-right {
    @include mixin.flex(center, center);
    gap: 16px;
    margin-top: 4px;
  }
  .header-notification {
    margin-right: -4px;
  }
  .header-logo {
    width: 158px;
  }
  .header-coins {
    position: relative;
    .image-select {
      width: 140px !important;
    }
    > span {
      position: absolute;
      top: 15px;
      right: 16px;
      color: #93acd3;
      font-size: 14px;
      font-weight: 645;
      line-height: 18.52px;
    }
  }
  .header-wallet {
    .tf-btn {
      padding-left: 36px;
      padding-right: 36px;
      i {
        font-size: 20px;
      }
    }
  }



}
